@charset "UTF-8";

* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        ul,
        ol,
        li {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        a {
            text-decoration: none;
            color: #000;
        }

        #wrap {
            width: 100%;
            height: auto;
            margin: 0 auto;
        }

        #top_banner_wrap {
            width: 100%;
            height: 65px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            background: linear-gradient(to right, #DBD3F8 50%, #D1F1ff 50%);
        }

        #top_banner {
            width: 950px;
            height: auto;
            position: relative;
        }

        #top_banner>img:last-child {
            width: 16px;
            height: 16px;
            position: absolute;
            right: 10px;
            top: 38%;
        }

        /*헤더*/
        #header {
            width: 950px;
            height: 140px;
            margin: 0 auto;
            position: relative;
            z-index: 2;
        }

        #header>.header_box {
            width: 950px;
            height: 29px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        #header>.header_box>.header_box_nav {
            width: 345px;
            height: 100%;
        }

        #header>.header_box>.header_box_nav>li {
            float: left;
            position: relative;
        }

        #header>.header_box>.header_box_nav:last-child {
            width: 348px;
            height: 100%;
        }

        #header>.header_box>.header_box_nav:last-child i {
            font-size: 17px;
        }

        #header>.header_box>.header_box_nav>li {
            float: left;
            padding: 10px 9px 0 10px;
            font-size: 11px;
        }


        #header>.header_box>.header_box_nav>li>#header_box_store {
            float: left;
            width: 450px;
            display: none;
            position: absolute;
            top: 29px;
            left: 0;
            z-index: 3;
            border: 1px solid #bbb;
        }

        #header>.header_box>.header_box_nav>li>#header_box_store>li {
            float: left;
            width: 33.3%;
            line-height: 25px;
            position: relative;
            background-color: #eeeeee;
            font-weight: bold;
        }

        #header>.header_box>.header_box_nav>li>#header_box_store>li>.store_list {
            width: 100%;
            height: 430px;
            background-color: skyblue;
            font-weight: normal;
            background-color: #fff;
            position: relative;
            z-index: 1;
            border: 1px solid #eee;
        }

        #header>.header_box>.header_box_nav>li>#header_box_store>li>.store_list>li {
            width: 100%;
        }

        #header>.header_box>.header_box_nav>li>#header_box_store>li>.store_list>li:hover {
            background-color: #f1f1f1;
            display: block;
        }

        #header>.header_box>.header_box_nav>li>.membership_club {
            width: 110px;
            height: 170px;
            display: none;
            z-index: 1;
            position: absolute;
            top: 29px;
            left: 0;
            border: 1px solid #bbb;
            background-color: #fff;
            padding: 10px 0px;
        }

        #header>.header_box>.header_box_nav>li>.membership_club>li {
            float: left;
            width: 100%;
            line-height: 25px;
        }

        #header>.header_box>.header_box_nav>li>.membership_club>li>a:hover {
            background-color: #f1f1f1;
            display: block;
        }

        .header_box1 {
            width: 950px;
            height: 110px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        #header_logo {
            width: 175px;
            height: 49px;
            background-color: #fff;
        }

        #header_search {
            width: 456px;
            height: 15px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .wordlist {
            width: 401px;
            height: 15px;
            font-size: 11px;
            background-color: #fff;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .wordlist>li {
            padding: 0 5px;
            float: left;
            text-align: center;
        }

        .wordlist:not(:first-child) {
            display: none;
        }


        #header_btn_box {
            width: 30px;
            height: 15px;
        }

        #header_btn_box>a>.btn_prev {
            float: left;
        }

        #header_btn_box>a>.btn_next {
            float: right;
        }

        #header_search_box {
            width: 456px;
            height: 42px;
            margin: 10px 0px;
            display: flex;
            position: relative;
        }

        #search_input {
            width: 456px;
            height: 42px;
            padding: 10px;
            background-color: #fff;
            border-radius: 20px;
            border: 2.3px solid #6b84e7;
        }

        #search_input:focus {
            outline: none;
        }

        #header_search_box>img {
            position: absolute;
            top: 0;
            right: 0;
            width: 55px;
            height: 42px;
        }

        #header_banner {
            width: 220px;
            height: 64px;
            background-color: pink;
            position: relative;
        }

        #header_banner>ul>li:not(:first-child) {
            display: none;
        }

        #header_banner>.list_nav {
            position: absolute;
            top: 70%;
            right: 0;
        }

        .list_nav span {
            font-size: 11px;
        }

        /*네비*/
        nav {
            width: 100%;
            background-color: #5e6b9e;
        }

        nav a {
            color: #fff;
        }

        #nav_box {
            margin: 0 auto;
            font-weight: bold;
            background-color: #5e6b9e;
            width: 950px;
            height: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .hamburger {
            width: 50px;
            height: 50px;
            background-color: #353f67;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .main_nav>li:first-child {
            font-size: 22px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: 0 0 0 -10px;
        }

        .main_nav li:not(:first-child) i {
            font-size: 12px;
            margin: 0 3px;
        }


        .main_nav {
            font-size: 15px;
            color: #fff;
            position: relative;
        }

        .main_nav>li {
            height: 25px;
            float: left;
            padding: 0 10px 0;
        }

        .main_nav>li:hover {
            text-decoration: underline;
        }

        #main_nav_sub {
            width: 180px;
            font-size: 12px;
            position: absolute;
            top: 36px;
            z-index: 3;
            display: none;
            border: 1px solid #353f67;
        }

        #main_nav_sub>li {
            background-color: #fff;
            color: #040939;
            font-weight: bold;
            font-size: 12px;
            padding: 0 20px;
            line-height: 48px;
        }

        #main_nav_sub>li:hover {
            display: block;
            background-color: #353f67;
            color: #fff;
        }

        .main_nav_sub {
            width: 80px;
            position: absolute;
            top: 37px;
            z-index: 3;
            display: none;
            background-color: #fff;
            border: 1px solid #666;
        }

        .main_nav_sub>li {
            background-color: #fff;
            color: #666;
            font-size: 12px;
            padding: 5px;
            line-height: 18px;
        }

        .main_nav_sub>li:hover {
            display: block;
            background-color: #ddd;
        }


        .sub_nav {
            font-size: 13px;
            color: #d8dbe8;
        }

        .sub_nav li {
            width: 47px;
            height: 20px;
            float: left;
            text-align: center;
        }

        .sub_nav li:hover {
            text-decoration: underline;
        }

 /*푸터*/
        footer {
            width: 100%;
            height: 254px;
            font-size: 12px;
            color: #666666;
        }

        #footer_nav_wrap {
            width: 100%;
            height: 44px;
            background-color: #9f9f9f;
        }

        .footer_nav {
            width: 950px;
            height: 100%;
            margin: 0 auto;
        }

        .footer_nav>ul {
            color: #fff;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            line-height: 44px;
        }

        .footer_nav>ul>li>a {
            color: #fff;
        }

        .footer_nav>ul>li:hover {
            text-decoration: underline;
        }

        .footer_nav>ul>li:last-child {
            font-weight: bold;
            background-color: #6d6d6d;
            padding: 0 20px;
        }

        #footer_info_wrap {
            width: 100%;
            height: 214px;
            background-color: #f5f5f5;
        }

        .footer_info {
            width: 950px;
            height: 100%;
            margin: 0 auto;
            font-size: 11px;
            color: #666666;
        }

        .footer_logo {
            width: 100%;
            height: 65px;
            padding: 21px 0 0 0;
        }

        .info_b1 {
            width: 460px;
            height: 101px;
            float: left;
        }

        .info_b1>p {
            line-height: 19px;
        }

        .info_b1>p>a {
            margin: 0px 10px;
            color: #666666;
            text-decoration: underline;
        }


        .info_b1>p>a:hover {
            color: #3e74ab;
        }

        .copy {
            margin: 10px 0 0;
        }

        .info_right {
            float: right;
        }

        .info_b2 {
            width: 450px;
            height: 60px;
        }

        .info_b2>p {
            line-height: 18px;
        }

        .info_b2>p>a {
            margin: 0px 10px;
            color: #666666;
            text-decoration: underline;
        }


        .info_b2>p>a:hover {
            color: #3e74ab;
        }

        .info_s1 {
            width: 170px;
            height: 48px;
            float: left;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }

        .info_s1>img {
            float: left;
            margin: 0 5px 0 0;
        }

        .info_s1>p {
            float: right;
        }


        .info_s2 {
            width: 200px;
            height: 48px;
            float: left;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }